<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Graphic preview</title>
  <meta name="description" content="Graphic preview">
  <meta name="author" content="SitePoint">

  <!--build:css css/styles.min.css-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/grow-retirement-calculator_styles.css">
  <!--endbuild-->

</head>

<body>

  <div id="calculator">
    <p class="body-text">
        So you want to be a millionaire? That may seem impossible, but based on Grow calculations, that’s how much most 25-year-olds today may need to retire comfortably. If you haven’t already begun saving and investing, the time to start working toward that goal is now. Luckily, the sooner you begin, the easier it is to build wealth for the future.
    </p>
    <p class="body-text">
        We’ve put together a tool that can help you estimate how much you’ll need and can help you get started on a plan.
    </p>
    <p class="body-text">
        Follow along and enter your information below to get a personalized savings goal. 
    </p>
    <h2>Basic information</h2>
    <p class="body-text">
        To begin, we need to know how old you are now and at what age you plan to retire, so we can calculate how long you’ll have to save. 
    </p>
    <div class="calc-input">
        <label for="current-age">Current age</label>
        <input type="number" name="current-age" v-model.number="currentAge"></input>
    </div>
    <p class="body-text">
        While the current average retirement age among retirees is <a href="https://dqydj.com/average-retirement-age-in-the-united-states/">about 60 years old</a>, that’s expected to increase for younger generations. Americans born in 1960 or later can access partial Social Security benefits at age 62 and full benefits at age 67. Some experts recommend <a href="https://www.cnbc.com/2018/01/30/suze-orman-and-stanford-research-agree-70-is-the-new-retirement-age.html">holding off on collecting until age 70</a> because Americans are living longer, meaning your savings need to last longer.
    </p>
    <p class="body-text">
        If you’re not sure what to choose, consider going with the default age of 67.
    </p>
    <div class="calc-input-radio">
        <input type="radio" id="retirement-50" name="retirement-age" v-model="retirementAge" value="50"></input>
        <label for="retirement-50">50</label>

        <input type="radio" id="retirement-60" name="retirement-age" v-model="retirementAge" value="60"></input>
        <label for="retirement-62">60</label>

        <input type="radio" id="retirement-65" name="retirement-age" v-model="retirementAge" value="65"></input>
        <label for="retirement-65">65</label>

        <input type="radio" id="retirement-67" name="retirement-age" v-model="retirementAge" value="67"></input>
        <label for="retirement-67">67</label>

        <input type="radio" id="retirement-70" name="retirement-age" v-model="retirementAge" value="70"></input>
        <label for="retirement-70">70</label>
    </div>
    <h2>Income</h2>
    <p class="body-text">
        How much money you make will determine how much you’ll need to maintain your standard of living in retirement, as well as how much of your income you should contribute to a 401(k) or other savings plan.
    </p>
    <div class="calc-input money-input">
        <label for="base-salary">Current income</label>
        <input type="number" name="base-salary" v-model.number="baseSalary"></input>
    </div>
    <h2>Savings & growth</h2>
    <p class="body-text">
        Do you currently have any retirement savings?
    </p>
    <div class="calc-input-radio">
        <input type="radio" id="savings-yes" name="savings-yes-no" v-model="savingsYesNo" value="yes"></input>
        <label for="savings-yes">Yes</label>

        <input type="radio" id="savings-no" name="savings-yes-no" v-model.number="savingsYesNo" value="no"></input>
        <label for="savings-no">No</label>
    </div>
    <transition name="fade" mode="out-in">
        <div v-if="savingsYesNo === 'yes'" key="yes">
            <p class="body-text" style="margin-top:-20px">
                    Great! Enter the amount below so we know what you’re starting with.
            </p>
            <div class="calc-input money-input">
                <label for="current-savings">Current retirement savings</label>
                <input type="number" name="current-savings" v-model.number="currentSavings"></input>
            </div>
        </div> 
            <p class="body-text" style="margin-top:-20px" v-else-if="savingsYesNo === 'no'" key="no">
                That’s OK! We’ll help you get started
            </p>
    </transition>
    <p class="body-text">
        Over time you should see an average annual growth of 5-10%, adjusted for inflation. <a href="https://www.cnbc.com/id/46464842">Some experts advise</a> you to use a conservative estimate of 5-6% since it’s better to end up with too much money than too little. Others say you can safely use 8%, which has been <a href="http://www.moneychimp.com/features/market_cagr.htm">roughly the compound annual growth rate of the S&P 500 since 1980</a>. 
    </p>
    <p class="body-text">
        Your rate of return will also depend on the makeup of your retirement portfolio. Investments with lower risk, sure as Treasury bonds, will provide lower returns. Experts recommend <a href="https://grow.acorns.com/how-bonds-work-why-they-matter-and-how-to-include-them-in-a-portfolio/">including bonds</a> in your portfolio to balance out the risk from your stock investments.
    </p>
    <p class="body-text">
        Would you like to play it safe with a conservative estimate, take a chance on a more optimistic outlook, or use the historical average return?
    </p>
    <div class="calc-input">
        <label for="annual-growth">Expected annual growth</label>
        <div class="calc-input-radio growth-radio">
            <input type="radio" id="conservative" name="annual-growth" v-model="annualGrowth" value=".09"></input>
            <label for="conservative">Conservative</label>
    
            <input type="radio" id="average" name="annual-growth" v-model="annualGrowth" value=".105"></input>
            <label for="average">Average</label>
    
            <input type="radio" id="optimistic" name="annual-growth" v-model="annualGrowth" value=".115"></input>
            <label for="optimistic">Optimistic</label>
        </div>
    </div>
    <h2>How much you need</h2>
    <p class="body-text">
        Now comes the tricky part: figuring out how much you'll need to save to live comfortably in retirement. <a href="https://grow.acorns.com/how-to-find-out-how-much-money-you-need-to-retire-comfortably/">Some experts say</a> you'll need 70 to 80% of your income each year to maintain your standard of living, while <a href="https://www.cnbc.com/id/46464842">others say</a> you'll need 80 to 90%.
    </p>
    <p class="body-text">
        Lifestyle factors and preferences will affect how much you spend during your retirement. If you're hoping to live a more active lifestyle and travel often, you should <a href="https://www.fidelity.com/viewpoints/retirement/spending-in-retirement">add six percentage points</a> to your annual budget.
    </p>
    <p class="body-text">
        We'll start you off with an annual spending goal of 75% of your final income. You can make adjustments based on the expectations you have for your post-work years.
    </p>
    <div class="calc-input-radio">
        <input type="radio" id="needed-70" name="retirement-income" v-model="retirementIncome" value=".70"></input>
        <label for="needed-70">70%</label>

        <input type="radio" id="needed-75" name="retirement-income" v-model="retirementIncome" value=".75"></input>
        <label for="needed-75">75%</label>

        <input type="radio" id="needed-80" name="retirement-income" v-model="retirementIncome" value=".80"></input>
        <label for="needed-80">80%</label>

        <input type="radio" id="needed-85" name="retirement-income" v-model="retirementIncome" value=".85"></input>
        <label for="needed-85">85%</label>

        <input type="radio" id="needed-90" name="retirement-income" v-model="retirementIncome" value=".90"></input>
        <label for="needed-90">90%</label>
    </div>
	<h2>Social Security</h2>
    <p class="body-text">
        Finally, do you want to factor in your estimated Social Security payments?
    </p>
    <div class="calc-input-radio">
        <input type="radio" id="ss-yes" name="social-security" v-model="socialSecurity" value="yes"></input>
        <label for="ss-yes">Yes</label>

        <input type="radio" id="ss-no" name="social-security" v-model="socialSecurity" value="no"></input>
        <label for="ss-no">No</label>
    </div>

    <button v-on:click="savingsGoal">submit</button>

    <transition name="fade" mode="out-in"></transition>   
        <div class="results" v-if="showResults==true">
            <h2>Results</h2>
            <p class="body-text">
                Your retirement savings goal is <b>${{(Math.round(totalNeeded + A)).toLocaleString()}}</b>.
            </p>
            <p class="body-text">
                In order to reach your retirement savings goal, you should save <b>{{saveAmount}}</b> per month, or <b>{{percentOfSalary}}%</b> of your current salary. If this sounds like a lot, don't fret, Grow can help you work toward that goal.
            </p>
            <p class="body-text">
                <b>Take advantage of your 401(k) match:</b> If you're fortunate enough to work for a company that offers a <a href="https://grow.acorns.com/what-is-a-401k-match/">401(k) match</a>, remember that the money your company contributes counts toward your monthly savings goal. For example, if your company matches 3% of your contribution, you only need to contribute {{percentOfSalary-3}}% to reach that {{percentOfSalary}}% goal.
            </p>
            <p class="body-text">
                <b>Start small: </b>If you can't save {{percentOfSalary}}% right now, start with a lower percentage and <a href="https://grow.acorns.com/making-a-small-change-can-supercharge-your-retirement-savings/">increase your contributions</a> by 1% each year till you reach your goal. And remember, as your salary increases, the percentage of your paycheck you need to save will decrease.
            </p>
            <p class="body-text">
                <b>Cut back on expenses: </b>While the affect of that $5 daily latte <a href="https://grow.acorns.com/doug-boneparth-you-can-increase-your-savings-without-giving-up-coffee/">is overblown</a>, cutting back on major expenses can significantly impact your retirement savings. <a href="https://grow.acorns.com/smart-habits-super-savers-use-to-prepare-for-retirement/">"Supersavers"</a> do things like drive older cars and live in modest homes in order to reach their savings goals. Also, be sure to avoid <a href="https://grow.acorns.com/you-may-need-to-save-40-percent-your-pay-to-retire-by-65-expert-says/">lifestyle creep</a> once you start earning more money.
            </p>
            <p class="body-text" v-if="showExpectations==true">
                <b>Adjust your expectations: </b> If this still seems like too large a goal, consider adjusting your retirement expectations. {{ageAdjusted}} {{incomeAdjusted}}
            </p>
        </div>
        <div class="error-message" v-if="showError==true">
            You missed a field. Go back and make sure they're all completed.
        </div>
    </transition>
  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <!--build:js js/main.min.js -->
  <script src="js/grow-retirement-calculator_main.js"></script>
  <!-- endbuild -->
</body>
</html>
